{% for label, messages in app.flashes %}
  {% for message in messages %}
    {% set cssClass = label == 'error' 
      ? 'danger' : label %}
    <div role="alert" 
      class="alert alert-{{ cssClass }} 
      alert-dismissible fade show">
      {{ message }}
      <button type="button" class="close" 
          data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}